.validBtn{
  font-size: larger;
  font-weight: bold;
  background: green;
  border-radius: 7px;
  color: white;
  box-shadow: 5px 3px 3px grey;
  cursor: pointer;
}

.validBtn:hover{
  opacity: 0.5;
  box-shadow: 2px 0.5px 0.5px grey;
}

input, textarea{
  margin: 5px;
  width: 90%;
  padding: 5px;
  border-radius: 5px;
}

